.container {
    padding: 10px;
}

.wrapper {
    display: grid;
    height: 100%;
    grid-template-rows: 300px 1fr;
    grid-gap: 10px;
}

.infomation {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 10px;
}

.apisodes {
    grid-template-columns: 300px;
    grid-gap: 10px;
}

.image {
    width: 100%;
    height: auto;
}