.image {
    grid-area: image;
}

.content {
    grid-area: content;
}

.apisodes {
    grid-area: apisodes;
}

.grid-container {
    display: grid;
    grid-template-areas:
    'image image content content content content '
    'apisodes apisodes apisodes apisodes'
    'apisodes apisodes apisodes apisodes';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}